body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.summary {
    background-color: azure;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Myform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 5px;
    background-color: #343a40;
    color: white;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
}

.summarize_button {
    width: 100%;
}

.flashMessages {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.container {
    max-width: 800px;
    margin-top: 50px;
} 

.card {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 0.3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.question {
    text-align: right;
    font-weight: bold;
    margin-bottom: 10px;
}

.answer {
    text-align: left;
    margin-bottom: 20px;
    margin-right: 20%;
}
