.summary {
    background-color: azure;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Myform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 5px;
}

.summarize_button {
    width: 100%;
}

.flashMessages {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
